
body{
	margin : 0px;
	font-family: sans-serif;
	font-size: 14px;
	background-color: #9dbae8;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
table{
	width: 70%;
	margin-top: 3em;
	margin-bottom: 5em;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}
table, td{
	border-collapse: collapse;
	text-align: center;
	border: none;
}
tbody tr{
	background-color: #fff;
}tr:hover{
	background-color: #f0f0f0;
	color : #000000;
}
th{
	text-align: center;
	padding: 0.5em;
	color: white;
	border: 1px solid #b4adad;
	background-color: #1d2247;
}
td{
	height: 1em;
	text-align: center;
	padding: 1em;
}
hr{
	background-color: #e5e5e5;
	height: 1px;
	width: 90%;
	border: 0;
}
